a.xtern_xtrn {
   background-repeat: no-repeat;
    background-position: 0 center;
    padding: 0 0 0 19px;
    background-image: url("images/xtern_green.png");
}
a.xtern_broken {
   background-repeat: no-repeat;
   background-position: 0 center;
    padding: 0 0 0 18px;
   background-image: url("images/xtern_red.png");
}
a.xtern_noaccess {
   background-repeat: no-repeat;
   background-position: 0 center;
    padding: 0 0 0 18px;
   background-image: url("images/xtern_xcluded.png");
}
a.xtern_delay {
   background-repeat: no-repeat;
   background-position: 0 center;
    padding: 0 0 0 18px;
   background-image: url("images/xtern_delay.png");
}
span.xtern__xtern {
    height: 8px;
	width: 8px;
	background-color: yellow;
	display: inline-block;		
}
div#xtern_adminform {
	padding-bottom: 4px;
}

div#xtern_chklnk{
	border: 1px solid gray;
	margin:0;
	min-height: 400px;
    max-height: 550px;
    min-width: 450px;
	overflow:scroll;
}
div#xtern_review{
	border: 1px solid gray;
	margin:0;
	max-height: 550px;
    min-height: 400px;
    min-width: 450px;
	overflow:auto;
}
span.xtern_font, input.xtern_font {
    font-size: 11pt;
}
div#xtern_info {
	display:none;
}	
