span.xtern_xtrn {
    height: 8px;
	width: 8px;
	background-color: #01DF74;   
	display: inline-block;		
}
span.xtern_broken {
    height: 8px;
	width: 8px;
	background-color: red;
	display: inline-block;		
}
span.xtern__xtern {
    height: 8px;
	width: 8px;
	background-color: yellow;
	display: inline-block;		
}
