a.xtern_xtrn {
   background-repeat: no-repeat;
    background-position: 0 center;
    padding: 0 0 0 19px;
    background-image: url("images/xtern_green.png");
}
a.xtern_broken {
   background-repeat: no-repeat;
   background-position: 0 center;
    padding: 0 0 0 18px;
   background-image: url("images/xtern_red.png");
}
span.xtern__xtern {
    height: 8px;
	width: 8px;
	background-color: yellow;
	display: inline-block;		
}
